[[source]]

url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"
verify_ssl = true
name = "pypi"


[packages]

pandas = "==1.2.2"
pytest = "==6.2.3"
pyarrow = "==3.0.0"


[dev-packages]



[requires]

python_version = "3.7"
