[[source]]

url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"
verify_ssl = true
name = "pypi"


[packages]

pandas = "==1.0.3"
pytest = "==4.5.0"
pyarrow = "==0.16.0"
snapshottest = {git = "git://github.com/syrusakbary/snapshottest.git", ref = "master"}


[dev-packages]



[requires]

python_version = "3.6"
